/.bash_history
/.bash_logout
/.bashrc
/.profile
/.selected_editor
/.ssh/authorized_keys
/.viminfo
/balkoni.pyc
/balkoni.rrd
/pump_status
/www/balkoni-12h.png
/www/balkoni-24h.png
/www/balkoni-30d.png
/www/balkoni-360d.png
/www/balkoni-7d.png
/www/balkoni-90d.png
